<div class="modal fade" id="modalCliente">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white">Nuevo Cliente</h5>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="">Nombre</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">DNI</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>
