<div class="container">
    <div class="alert alert-info mt-2">
        Esta sección muestra las cuentas corrientes de tus clientes.
      </div>

      <table id="tabla" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Adeuda</th>
            </tr>
        </thead>
        <tbody>
          <!--  <tr *ngFor="let cliente of clientes">
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.deuda}}</td>
              </tr>-->
        </tbody>
            
    </table>
</div>